<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" src="loader.js"></script>
	<!-- https://www.gstatic.com/charts/loader.js -->
    <script type="text/javascript" src="get_graph_js.js"></script>
</head>
  <body>
  	<!-- <p th:text="${testId}"></p> -->
  	<!-- <button type="button" onclick="loadData()">loadTestData</button>   -->
    <div id="curve_chart" style="height:450"></div>
    <div id="zabbix_chart" style="height:450"></div>
    <div id="zabbixItems"></div>
    <div id="existingTests"></div>
  </body>
</html>